<div class="row noDisplay">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table mat-table [dataSource]="dataSource" fxFlex *ngIf="dataSource">
          <ng-container  matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              Nombre y Apellido
            </th>
            <td mat-cell *matCellDef="let client; let i = index"  > 
              <div *ngIf="client._id !== editable" >
                {{ client.name + ' ' + client.surname }}
              </div>
              <div *ngIf="client._id === editable">
                <mat-form-field fxFlex style="margin-right: 7px;">
                  <input type="text" matInput placeholder="nombre" [(ngModel)]="dataSource[i].name" name="name" />
                </mat-form-field>
                <mat-form-field fxFlex class="m-r-20">
                  <input type="text" matInput placeholder="apellido" [(ngModel)]="dataSource[i].surname" name="surname"/>
                </mat-form-field>
              </div>
            </td>            
          </ng-container>
          <ng-container matColumnDef="phone" >
            <th mat-header-cell *matHeaderCellDef >
              Teléfono
            </th>
            <td mat-cell *matCellDef="let client; let i = index">
              <span *ngFor="let phone of client.phone; let k = index; trackBy:trackByFn">
                <div *ngIf="client._id !== editable" >
                  <ng-container *ngIf="phone === '260-4' || !phone; else elsePhone">
                    Sin Teléfono
                  </ng-container>
                  <ng-template #elsePhone>
                    {{ phone }}
                  </ng-template>
                </div>
                <div *ngIf="client._id === editable">
                  <mat-form-field fxFlex="200px">
                    <input type="text" matInput
                          [(ngModel)]="dataSource[i].phone[k]" name="phone"/>
                  </mat-form-field>
                </div>
              </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="email" fxFlex="250px">
            <th mat-header-cell *matHeaderCellDef>
              Email
            </th>
            <td mat-cell *matCellDef="let client; let i = index">
              <div *ngIf="client._id !== editable" >
                <ng-container *ngIf="client.email; else elseEmail">
                  {{ client.email }}
                </ng-container>
                <ng-template #elseEmail>
                  Sin Email
                </ng-template>
              </div>
              <div *ngIf="client._id === editable">
                <mat-form-field fxFlex class="m-r-20">
                  <input type="text" matInput 
                        [(ngModel)]="dataSource[i].email" name="email"/>
                </mat-form-field>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="role" fxFlex="160px">
            <th mat-header-cell *matHeaderCellDef>
              Tipo
            </th>
            <td mat-cell *matCellDef="let client; let i = index">
              {{ client.role }}
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="office" *ngIf="currentUser.role === 'ADMIN_ROLE'" fxFlex="160px">
            San Rafael - Olascoaga 21
          </ng-container> -->
          
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>
              Tipo
            </th>
            <td mat-cell *matCellDef="let client">
              <div *ngIf="client._id !== editable">
                <button matTooltip="Editar cliente" (click)="setEditable(client._id); $event.stopPropagation()" 
                class="btn waves-effect waves-light btn-sm btn-success" type="button" style="margin-right: 2px" >
                  <i class="mdi mdi-account-edit"></i>
                </button>
                <button class="btn btn-sm btn-danger"  matTooltip="Eliminar cliente"
                    (click)="deleteClient(client._id); $event.stopPropagation()">
                  <i class="mdi mdi-close"></i>
                </button>
              </div>
              <div *ngIf="client._id === editable">
                <button matTooltip="Editar cliente" (click)="updateUser(client); $event.stopPropagation()" 
                class="btn waves-effect waves-light btn-sm b-green" type="button" style="margin-right: 2px" >
                  <i class="mdi mdi-check"></i>
                </button>
                <button class="btn btn-sm b-red"  matTooltip="Cancelar"
                    (click)="setEditable(null); $event.stopPropagation()">
                  <i class="mdi mdi-close-circle-outline"></i>
                </button>
              </div>
             
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>