<div class="row">
  <!-- Column -->
  <div class="col-lg-4 col-md-12">
    <div class="card profile-card">
      <img class="card-img profile-img" src="../assets/images/background/user-profile.jpg" alt="Card image">
      <div class="card-img-overlay card-inverse social-profile d-flex justify-content-center">
        <div class="align-self-center">
          <div class="">
            <img src="../assets/images/user.jpg" class="rounded-circle m-b-20 profile-user-img" width="100"
              *ngIf="localUser.user.image">
            <img src="../assets/images/user.jpg" class="rounded-circle m-b-20 profile-user-img" width="100"
              *ngIf="!localUser.user.image">
          </div>
          <h4 class="card-title">
            {{ localUser.user.name + ' ' + localUser.user.surname }}
          </h4>
          <h6 class="card-subtitle">
            {{ localUser.user.email }}
          </h6>
          <p class="text-white">Ohana User</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">

        <small class="text-muted pt-4 d-block">Usuario</small>
        <h6 class="text-info">{{ localUser.user.username }}</h6>
        <small class="text-muted">Correo electrónico</small>
        <h6>{{ localUser.user.email }}</h6>
        <small class="text-muted pt-4 d-block">Phone</small>
        <h6>{{ localUser.user.phone }}</h6>
        <!-- <div class="map-box">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
              </div> <small class="text-muted pt-4 d-block">Social Profile</small> -->
        <br>
        <!-- <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
              <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
              <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button> -->
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-md-12">
    <div class="card">
      <div class="profile-username">
        <h2 class="m-b-0">
          USUARIO:
          <span class="text-green"> {{ localUser.user.username | uppercase }} </span>
        </h2>
      </div>
      <!-- <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-selected="true">Timeline</a>
            </li> -->
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Perfil">
          <div class="tab-pane" id="profile" role="tabpanel">
            <div class="card-body">
              <div class="row">
                <div class="col-md-5 col-xs-6 border-right ">
                  <strong class="text-gray semi-bold">Nombre Completo</strong>
                  <br>
                  <p class="">
                    {{ localUser.user.name + ' ' + localUser.user.surname }}
                  </p>
                </div>
                <div class="col-md-3 col-xs-6 border-right">
                  <strong class="text-gray semi-bold">
                    Teléfono
                  </strong>
                  <br>
                  <p class="">
                    {{ localUser.user.phone }}
                  </p>
                </div>
                <div class="col-md-4 col-xs-6 border-right">
                  <strong class="text-gray semi-bold">
                    Email
                  </strong>
                  <br>
                  <p class="">{{ localUser.user.email }}</p>
                </div>
              </div>
              <hr class="m-b-0">
              <!-- <a href="" [routerLink]="['/statistics']">Estadisticas</a> -->

              <div>
                


                <p class="mt-3">
                  <strong>Frase motivacional:</strong>
                  <ng-container *ngIf="localUser.user.observations; else elseObservations">
                    <p> {{ localUser.user.observations }} </p>
                  </ng-container>
                  <ng-template #elseObservations>
                    <p class="text-info text-center">
                      <i class="f-24">
                        “Todo lo que necesitas para ser feliz se encuentra al otro lado de tus miedo.”
                      </i>
                    </p>
                  </ng-template>
                  <!-- <hr> -->
                  <!-- <h2 class="text-center bold">OhanaCop</h2> -->
                  <p class="text-center">
                    <img src="../assets/images/background/motivadora.jpg" alt="">
                  </p>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Estadísticas">
          <div class="tab-pane" id="profile" role="tabpanel">
            <div class="card-body">
              <div class="row">
                <div fxFlex="100">
                  Resumen:
                </div>
                <app-profile-statistics  id="sta" fxFlex>
                </app-profile-statistics>
                <div fxFlex="100" class="p-r-10 p-l-10 statistics-progress">
                  <h4 class="font-medium mt-4">Skill Set</h4>
                  <hr>
                  <h5 class="mt-4">Entregas <span class="pull-right">80%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                      aria-valuemax="100" style="width:80%; height:6px;">
                      <span class="sr-only">50% Complete</span> </div>
                  </div>
                  <h5 class="mt-4">Terminados <span class="pull-right">90%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100" style="width:90%; height:6px;">
                      <span class="sr-only">50% Complete</span> </div>
                  </div>
                  <h5 class="mt-4">En proceso <span class="pull-right">50%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100" style="width:50%; height:6px;">
                      <span class="sr-only">50% Complete</span> </div>
                  </div>
                  <h5 class="mt-4">Cancelados <span class="pull-right">70%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                      aria-valuemax="100" style="width:70%; height:6px;">
                      <span class="sr-only">50% Complete</span> </div>
                  </div>
                </div>

            </div>
          </div>
          </div>

        </mat-tab>
        <mat-tab label="Editar">
          <div class="tab-pane" id="settings" role="tabpanel">
            <div class="card-body">
              <form class="form-horizontal form-material">
                <div class="form-group">
                  <label class="col-md-12">Full Name</label>
                  <div class="col-md-6">
                    <input type="text" [(ngModel)]="localUser.user.name" name="name" placeholder="Nombre" class="form-control form-control-line">
                  </div>
                  <div class="col-md-6">
                    <input type="text" [(ngModel)]="localUser.user.surname" name="surname" placeholder="Apellido" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-email" class="col-md-12">Email</label>
                  <div class="col-md-12">
                    <input type="email" placeholder="Email" name="email" [(ngModel)]="localUser.user.email" class="form-control form-control-line"
                      name="example-email" id="example-email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Password</label>
                  <div class="col-md-12">
                    <input type="password" value="password" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Teléfono</label>
                  <div class="col-md-12">
                    <input type="text" [(ngModel)]="localUser.user.phone" name="phone" placeholder="Teléfono" class="form-control form-control-line">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12">Frase personal</label>
                  <div class="col-md-12">
                    <textarea rows="5" class="form-control form-control-line"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-12">Select Country</label>
                  <div class="col-sm-12">
                    <select class="form-control form-control-line">
                      <option>London</option>
                      <option>India</option>
                      <option>Usa</option>
                      <option>Canada</option>
                      <option>Thailand</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn btn-info">Actualizar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <!-- Nav tabs -->

      <!-- Tab panes -->


      <!--second tab-->


    </div>

  </div>
  <!-- Column -->
