<div class="card order" *ngIf="order">
  <div class="card-body" fxLayout="row" >
    
    <!-- <div fxLayoutAlign="center center">
      <div class="order-logo-wrapper">
        <img src="assets/images/ohana.jpg" alt="">
      </div>
    </div>
    
    <div fxFlex class="">
      <h3>ORDEN DE COPIAS:
      </h3>
      <hr>
      <div fxLayout="column">
        <div>
          <div fxFlex fxLayout="row">
            <div fxFlex fxLayout="column">
              <span>
                <b class="bold">
                  Cliente:
                </b>
                {{ order.client_id.name + ' ' + order.client_id.surname }} <br>
              </span>
              <span>
                <b class="bold">
                  Fecha de entrega:
                </b>
                {{ order.end_at | amFromUnix  | amDateFormat: "DD-MM-YYYY" }}
              </span>
              <p class="f-08em text-muted">
                #ID: {{ order._id }}
              </p>
            </div>
            <div fxFlex="125px" fxLayout="column">
              <div>
                <b class="bold f-12em text-blue" style="margin-bottom: 10px;">
                  TOTAL: $ {{ order.price }}
                </b>
              </div>
              <div>
                <b class="bold">Seña:</b>
                $ {{ order.partial_payment }}
              </div>
              <div>
                <b class="bold">Restan:</b>
                $ {{ order.price - order.partial_payment }}
              </div>
              <div>
                <span class="text-red">Estado: </span>  
                <span *ngIf="order.status === 'processed'"> Pendiente</span>
                <span *ngIf="order.status === 'in_progress'"> En proceso</span>
                <span *ngIf="order.status === 'completed'"> Terminado</span>
                <span *ngIf="order.status === 'canceled'"> Cancelado</span>
                <span *ngIf="order.status === 'delivered'"> Entregado</span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div fxLayout="column" class="order-print-books">
            <h5 class="text-blue">
              Archivos solicitados: 
            </h5>
            <div fxFlex>
              <div fxLayout="column">
                <div *ngFor="let item of order.items" class="order-print-items">
                  <div fxLayout="row">
                    <div fxFlex>
                      
                      <i class="mdi mdi-book-open-page-variant"></i>   
                      <ng-container *ngIf="item.name; else nameFromId">
                        {{ ' ' + item.name }}
                      </ng-container>
                      <ng-template #nameFromId>
                        {{ ' ' + item.file_id.name + 'ELSE' }}
                      </ng-template>
                      
                    </div>
                    <div fxFlex="40px">
                      {{ 'x ' + item.quantity }}
                    </div>
                    <div fxFlex="110px">
                      {{ 'Precio unit.: $ ' + item.price }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="160px" fxLayout="column" class="order-info-wrapper" fxLayoutAlign="center start">
      <div fxFlex fxLayoutAlign=" center" >
        <i class="mdi mdi-map-marker"></i> 
        España 69
      </div>
      <div fxFlex fxLayoutAlign=" center" >
        <i class="mdi mdi-phone"></i> 
        260-4820276
      </div>
      <div fxFlex fxLayoutAlign=" center" >
        <i class="mdi mdi-email"></i> 
        ohanacop@gmail.com
      </div>
      <div fxFlex fxLayoutAlign=" center" >
        <i class="mdi mdi-facebook-box"></i> 
        Ohana Cop
      </div>
      <div fxFlex fxLayoutAlign=" center" >
        <i class="mdi mdi-instagram"></i> 
        @ohanacop
      </div> -->

    </div>
  </div>
