label {
    margin-bottom: 0 !important;
}
.form-group {
    margin-bottom: 10px
}
.card-body {
    padding: 10px
}
/* [class^="tocolor-"] — starts with "tocolor-".
[class*=" tocolor-"] — contains the substring "tocolor-" */

[class^="col-"] {
    padding: 5px;
}

input.center {
    text-align: center;
}

.dFlex {
    flex: 1;
}
.mat-option:hover {
    background-color: rgba(0,0,0,.1) !important;
}
