<div class="row">
  <div class="col-lg-9 col-xs-12">
    <div class="card noDisplay">
      <div class="card-body">
        <div class="d-flex no-block">
          <!-- ===============================================
          Title Block                       				   
          =============================================== -->
          <h1 class="card-title">TODAS LAS ORDENES</h1>
          <hr>
          <div class="ml-auto">
            <!-- <select class="custom-select" [(ngModel)]="dateFilter" name="dateFilter"
              (ngModelChange)="filterByDate(ordersSaved)">
              <option value="today" selected="today">Para Mañana</option>
              <option value="later">Posteriores</option>
              <option value="">Incompletos</option>
            </select> -->
          </div>
        </div>
        <!-- ===============================================
              Search Block                       				   
             =============================================== -->
        <div *ngIf="createTable === 'loading'" class="row" fxLayoutAlign="center center">
          <img src="assets/images/26.gif" alt="">
        </div>
        <div class="row" *ngIf="createTable === 'false'" fxLayout="column" fxLayoutAlign="center center">
          <h4 class="text-center text-red">No se encontraron ordenes en el sistema.</h4>
          <img src="assets/images/items-not-found.jpg" alt="">
        </div>
        <div class="row" *ngIf="createTable === 'true'">
          <div class="col-6">
            <mat-form-field fxFlex>
              <span matPrefix class="p-r-10"><i class="fas fas fa-search"></i></span>
              <input matInput (keyup)="applyFilter($event.target.value)" id="search" 
                     placeholder="Buscar" #searcher />
            </mat-form-field>
          </div>
        </div>
        <div class="mat-elevation-z0" *ngIf="createTable === 'true'">
          <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
            <!-- Client Column -->
            <ng-container matColumnDef="client">
              <th mat-header-cell *matHeaderCellDef fxFlex="25" fxLayoutAlign="start center">
                Nombre Cliente
              </th>
              <td mat-cell *matCellDef="let row" fxFlex="25" fxLayoutAlign="start center">
                <ng-container *ngIf="(row.client_id.name !== 'Usuario' && row.client_id.surname !== 'Borrado'); else userDeleted">
                    {{ row.client_id.name + " " + row.client_id.surname }}
                </ng-container>
                <ng-template #userDeleted>
                  <i class="text-red">
                    {{ row.client_id.name + " " + row.client_id.surname }}
                  </i>
                </ng-template>
              </td>
            </ng-container>
            <!-- Books/Files Column -->
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef fxFlex="40" fxLayoutAlign="start center">
                Libros/Archivos
              </th>
              <td mat-cell *matCellDef="let row" fxFlex="40" fxLayoutAlign="start center">
                <span *ngFor="let item of row.items">
                  {{ item.file_id.name }}
                </span>
              </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="80px" fxLayoutAlign="start center">
                Estado
              </th>
              <td mat-cell *matCellDef="let row; let i = dataIndex" fxFlex="80px" fxLayoutAlign="start center">
                <span class="mytooltip tooltip-effect-4 f-14">
                  <span class="tooltip-item status" [ngClass]="row.status">
                    <span *ngIf="row.status === 'processed'">Pendiente</span>
                    <span *ngIf="row.status === 'in_progress'">En proceso</span>
                    <span *ngIf="row.status === 'completed'">Terminado</span>
                    <span *ngIf="row.status === 'canceled'">Cancelado</span>
                    <span *ngIf="row.status === 'delivered'">Entregado</span>
                  </span>
                  <span class="tooltip-content status clearfix">
                    <!-- <img src="../assets/images/tooltip/Euclid.png"> -->
                    <span class="tooltip-status processed bold" (click)="orderStatus(row._id, 'processed', i); $event.stopPropagation()"
                      matTooltip="Pendiente">P</span>
                    <span class="tooltip-status in_progress bold" (click)="orderStatus(row._id, 'in_progress', i); $event.stopPropagation()"
                      matTooltip="En proceso">EP</span>
                    <span class="tooltip-status completed bold" (click)="orderStatus(row._id, 'completed', i); $event.stopPropagation()"
                      matTooltip="Terminado">T</span>
                    <span class="tooltip-status canceled bold" (click)="orderStatus(row._id, 'canceled', i); $event.stopPropagation()"
                      matTooltip="Cancelado">C</span>
                    <span class="tooltip-status delivered bold" (click)="orderStatus(row._id, 'delivered', i); $event.stopPropagation()"
                      matTooltip="Entregado">E</span>
                  </span>
                </span>
                <!-- </span> -->
              </td>
            </ng-container>
            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef fxFlex="50px" fxLayoutAlign="start center">
                Cant
              </th>
              <td mat-cell *matCellDef="let row" fxFlex="50px" fxLayoutAlign="center center">
                <span class="text-center" *ngFor="let item of row.items">
                  {{ item.quantity }}
                </span>
              </td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef fxFlex="64px" fxLayoutAlign="start center">
                Total
              </th>
              <td mat-cell *matCellDef="let row" fxFlex="64px" fxLayoutAlign="start center">
                <b class="normal f-16 text-black">$ {{ row.price }}</b>
              </td>
            </ng-container>
            <!-- Price Column -->
            <ng-container matColumnDef="end_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px" fxLayoutAlign="center center">
                Entrega/ <br /> <span class="text-muted">Creado</span> 
              </th>
              <td mat-cell *matCellDef="let row" fxFlex="100px" fxLayout="column" fxLayoutAlign="center center">
                <span class="text-primary">{{
                  row.end_at | amFromUnix | amDateFormat: "DD-MM-YYYY"
                }}</span>
                <span class="text-muted f-10">IN:
                  {{
                    row.created_at | amFromUnix | amDateFormat: "DD-MM-YYYY"
                  }}</span>
              </td>
            </ng-container>

            <!-- ****************************************
              Expanded Content Column - The detail row is made up of this 
              one column that spans across all columns 
            ********************************************* -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail" [@detailExpand]="
                    element == expandedElement ? 'expanded' : 'collapsed'
                  ">
                  <div>
                    <div class="example-element-diagram">
                      <div class="example-element-position">
                        OHANACOP
                      </div>
                      <!-- <div class="example-element-symbol">
                        {{ element.status }}
                      </div> -->
                    </div>
                    <div class="text-center">
                      <p>
                        <button type="button" class="btn btn-info btn-circle btn-xl" 
                                (click)="print(element)" matTooltip="Imprimir Orden" matTooltipClass="noDisplay">
                          <i class="mdi mdi-printer"></i>
                        </button>
                      </p>
                      <p>
                        <!-- <button class="btn waves-effect waves-light btn-warning" type="button"
                                [routerLink]="[ '/add-task', element._id ]"> 
                          <i class="mdi mdi-edit"></i>
                          Editar 
                        </button> -->
                      </p>
                    </div>
                    <!-- <button></button> -->
                  </div>
                  <div class="example-element-description" fxFlex>
                    <h4 class="text-blue">
                      Detalles del pedido:
                      <span fxFlex></span>
                      <button class="btn btn-warning btn-sm" type="button" matTooltip="Editar Orden"
                              [routerLink]="[ '/add-task', element._id ]">
                        Editar
                      </button>
                    </h4> 
                    
                    <hr>
                    <div class="example-container" fxLayout="column">
                      <div *ngFor="let item of element.items" fxLayout="row">
                        <span fxFlex>
                          - {{item.file_id.name}} <br>
                        </span>
                        <span fxFlex="200px" class="text-blue">
                          $ {{item.price}} <br>
                        </span>
                      </div>
                      <div>
                        <hr>
                        <div fxLayout="row">
                          <div fxFlex fxLayout="column">
                            <h5>
                              Datos cliente: 
                              <a href="#" [routerLink]="['/user', element.client_id]">Editar</a>
                            </h5>
                            <span>
                              <b class="bold">Nombre: </b>
                              {{ element.client_id.name + ' ' + element.client_id.surname }}
                            </span>
                            <span *ngFor="let phone of element.client_id.phone">
                              <i class="mdi mdi-phone"></i> {{ ' ' + phone }} <br>
                            </span>
                          </div>
                          <div fxFlex="200px" fxLayout="column">
                            <div class="f-16 bold">
                              $ {{ element.price }}
                              <span class="text-blue"> TOTAL </span> 
                            </div>
                            <div> 
                              $ {{ element.partial_payment }}
                              <span class="text-green"> Seña  </span>  
                            </div>
                            <div> 
                              $ {{ element.price - element.partial_payment }}
                              <span class="text-red"> Restan  </span>  
                            </div>
                            <span class="example-element-description-attribution">
                              
                            </span>
                          </div>
                        </div>
                        <br>

                      </div>
                      <!-- <hr> -->
                      <div fxLayout="row" class="order-detail-date">
                        <div  fxFlex class="">Pedido creado: {{ element.created_at | amFromUnix | amDateFormat: "DD-MM-YYYY" }} </div>
                        <div  fxFlex class="">
                          <span class="text-orange">Entrega pactada: {{ element.end_at | amFromUnix | amDateFormat: "DD-MM-YYYY" }}</span>  
                        </div>
                        <div fxFlex class="">
                          <div *ngIf="element.status === 'delivered'" class="bold text-blue">
                            Retiró:
                            <span class="normal">
                              {{ element.delivered | amFromUnix | amDateFormat: "DD-MM-YYYY - HH:mm" }}hs
                            </span> 
                          </div>
                        </div>
                      </div>
                      <div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"
              [class.example-expanded-row]="expandedElement === element" (click)="
                expandedElement = expandedElement === element ? null : element
              ">
              -->
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[15, 25, 40, 100]"></mat-paginator>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-lg-3 noDisplay">
    <app-task-menu></app-task-menu>
  </div>
</div>
<app-order-print class="printMe"></app-order-print>
