<div class="row">
  <div class="col-lg-9 col-xs-12">
    <div class="card noDisplay">
      <div class="card-body">
          <div class="d-flex no-block">
              <!-- ===============================================
              Title Block                       				   
              =============================================== -->
              <h2 class="card-title" *ngIf="currentPage === 'home'">
                <span [ngSwitch]="dateFilter">
                  <span *ngSwitchCase="'today'" class="text-info">
                   TRABAJOS PARA MAÑANA
                  </span>
                  <span *ngSwitchCase="'later'" class="text-green">
                   TRABAJOS POSTERIORES
                  </span>
                  <span *ngSwitchCase="'incomplete'" class="text-orange">
                   TRABAJOS INCOMPLETOS
                  </span>
                  <p *ngSwitchDefault>
                    
                  </p>
                  </span>
              </h2>
              <h2 class="card-title" *ngIf="currentPage === 'orders'">
                LISTADO DE ORDENES
              </h2>
              
              <!-- <h6 class="card-subtitle">
                
                    Trabajos ordenados por fecha de entrega entre 24 a 36hs
                  </h6> -->
              <div class="ml-auto" *ngIf="currentPage === 'home'">
                <select class="custom-select" [(ngModel)]="dateFilter" name="dateFilter"
                  (ngModelChange)="filterByDate(ordersSaved)">
                  <option value="today" selected="today">Para Mañana</option>
                  <option value="later">Posteriores</option>
                  <option value="incomplete">Incompletos</option>
                </select>
              </div>
              
            </div>
            <!-- ===============================================
                  Search Block                       				   
                 =============================================== -->
                 <div *ngIf="createTable === 'loading'" class="row" fxLayoutAlign="center center">
                  <img src="assets/images/26.gif" alt="">
                </div>
                <div class="row" *ngIf="createTable === 'false'" fxLayout="column" fxLayoutAlign="center center">
                  <h4 class="text-center text-red">No se encontraron ordenes en el sistema.</h4>
                  <img src="assets/images/items-not-found.jpg" alt="">
                </div>
                
                <div class="row">
                  <div class="col-6" [hidden]="createTable !== 'true'">
                    <mat-form-field fxFlex>
                      <span matPrefix class="p-r-10"><i class="fas fas fa-search"></i></span>
                      <input matInput (keyup)="applyFilter($event.target.value)" id="search" placeholder="Buscar" #searcher />
                    </mat-form-field>
                  </div>
                </div>
                <div class="mat-elevation-z0">
                  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                    <!-- Client Column -->
                    <ng-container matColumnDef="client">
                      <th mat-header-cell *matHeaderCellDef fxFlex="25" fxLayoutAlign="start center">
                        Nombre Cliente
                      </th>
                      <td mat-cell *matCellDef="let row" fxFlex="25" fxLayoutAlign="start center">
                        <!-- solapa de enviar -->
                        <span class="shipping-tag" *ngIf="row.shipping && row.status !== 'delivered'">
                          Enviar
                        </span>
                        <span class="shipping-tag-triangle" *ngIf="row.shipping && row.status !== 'delivered'">
                        </span>
                        <span class="shipping-tag tag-delivered" *ngIf="row.shipping && row.status === 'delivered'">
                          Enviado
                        </span>
                        <span class="shipping-tag-triangle tag-delivered" *ngIf="row.shipping && row.status === 'delivered'">
                        </span>
                        <ng-container
                          *ngIf="(row.client_id.name !== 'Usuario' && row.client_id.surname !== 'Borrado'); else userDeleted">
                          {{ row.client_id.name + " " + row.client_id.surname }}
                        </ng-container>
                        <ng-template #userDeleted>
                          <i class="text-red">
                            {{ row.client_id.name + " " + row.client_id.surname }}
                          </i>
                        </ng-template>
                      </td>
                    </ng-container>
                    <!-- Books/Files Column -->
                    <ng-container matColumnDef="details">
                      <!-- ex width flex  = 40 -->
                      <th mat-header-cell *matHeaderCellDef fxFlex fxLayoutAlign="start center">
                        Libros/Archivos
                      </th>
                      <td mat-cell *matCellDef="let row" fxFlex fxLayoutAlign="start center">
                        <span *ngFor="let item of row.items">
                          {{ item.file_id.name }}
                        </span>
                      </td>
                    </ng-container>
        
                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="80px" fxLayoutAlign="start center">
                        Estado
                      </th>
                      <td mat-cell *matCellDef="let row; let i = dataIndex" fxFlex="80px" fxLayoutAlign="start center">
                        <span class="mytooltip tooltip-effect-4 f-14">
                          <span class="tooltip-item status" [ngClass]="row.status">
                            <span *ngIf="row.status === 'processed'">Pendiente</span>
                            <span *ngIf="row.status === 'in_progress'">En proceso</span>
                            <span *ngIf="row.status === 'completed'">Terminado</span>
                            <span *ngIf="row.status === 'cancelled'">Cancelado</span>
                            <span *ngIf="row.status === 'delivered'">Entregado</span>
                          </span>
                          <span class="tooltip-content-status status clearfix">
                            <!-- <img src="../assets/images/tooltip/Euclid.png"> -->
                            <span class="tooltip-status processed bold"
                              (click)="orderStatus(row._id, 'processed', i); $event.stopPropagation()"
                              matTooltip="Pendiente">P</span>
                            <span class="tooltip-status in_progress bold"
                              (click)="orderStatus(row._id, 'in_progress', i); $event.stopPropagation()"
                              matTooltip="En proceso">EP</span>
                            <span class="tooltip-status completed bold"
                              (click)="orderStatus(row._id, 'completed', i); $event.stopPropagation()"
                              matTooltip="Terminado">T</span>
                            <span class="tooltip-status cancelled bold"
                              (click)="orderStatus(row._id, 'cancelled', i); $event.stopPropagation()"
                              matTooltip="Cancelado">C</span>
                            <span class="tooltip-status delivered bold"
                              (click)="orderStatus(row._id, 'delivered', i); $event.stopPropagation()"
                              matTooltip="Entregado">E</span>
                          </span>
                        </span>
                        <!-- </span> -->
                      </td>
                    </ng-container>
                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef fxFlex="50px" fxLayoutAlign="start center">
                        Cant
                      </th>
                      <td mat-cell *matCellDef="let row" fxFlex="50px" fxLayoutAlign="center center">
                        <span class="text-center" *ngFor="let item of row.items">
                          {{ item.quantity }}
                        </span>
                      </td>
                    </ng-container>
        
                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef fxFlex="64px" fxLayoutAlign="start center">
                        Total
                      </th>
                      <td mat-cell *matCellDef="let row" fxFlex="64px" fxLayoutAlign="start center">
                        <b class="normal f-16 text-black">$ {{ row.price }}</b>
                      </td>
                    </ng-container>
                    <!-- Price Column -->
                    <ng-container matColumnDef="end_at">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px" fxLayoutAlign="center center">
                        <div fxLayout="column" fxLayoutAlign="center center" class="f-14">
                          <span>
                            Entrega
                          </span>
                          <span class="text-muted">
                            Creado
                          </span>
                        </div>
                        <!-- <br /> <span class="text-muted">Creado</span>  -->
                      </th>
                      <td mat-cell *matCellDef="let row" fxFlex="100px" fxLayout="column" fxLayoutAlign="center center">
                        <span class="text-primary">{{
                          row.end_at | amFromUnix | amDateFormat: "DD-MM-YYYY"
                        }}</span>
                        <span class=" f-10"> 
                          IN:
                          {{ row.created_at | amFromUnix | amDateFormat: "DD-MM-YYYY" }}
                        </span>
                      </td>
                    </ng-container>
        
                    <!-- ****************************************
                      Expanded Content Column - The detail row is made up of this 
                      one column that spans across all columns 
                    ********************************************* -->
                    <ng-container matColumnDef="expandedDetail">
                      <td mat-cell *matCellDef="let element; let i = dataIndex" [attr.colspan]="displayedColumns.length">
                        <div class="example-element-detail" [@detailExpand]="
                            element == expandedElement ? 'expanded' : 'collapsed'
                          ">
                          <div fxLayout="column">
                            <div class="example-element-diagram">
                              <div class="example-element-position">
                                OHANACOP
                              </div>
                              <!-- <div class="example-element-symbol">
                                {{ element.status }}
                              </div> -->
                            </div>
                            <div class="text-center" fxFlex fxLayout="column">

                              <p>
                                <button type="button" class="btn btn-info btn-circle btn-xl" (click)="print(element)"
                                  matTooltip="Imprimir Orden" matTooltipClass="noDisplay">
                                  <i class="mdi mdi-printer"></i>
                                </button>
                              </p>
                              <div fxFlex></div>
                              <p>
                                <button *ngIf="element.status !== 'cancelled'"
                                        class="btn waves-effect waves-light b-red btn-xs" 
                                       (click)="orderStatus(element._id, 'cancelled', i); $event.stopPropagation()"
                                        type="button" matTooltip="Anular Orden" matTooltipClass="noDisplay"> 
                                  <i class="mdi mdi-delete"></i> Anular
                                </button>
                              </p>
                            </div>
                            <!-- <button></button> -->
                          </div>
                          <div class="example-element-description" fxFlex>
                            <h4 class="text-blue">
                              Detalles del pedido:
                              <span fxFlex></span>
                              <button class="btn btn-warning btn-sm" type="button" matTooltip="Editar Orden"
                                [routerLink]="[ '/add-task', element._id ]">
                                Editar
                              </button>
                            </h4>
        
                            <hr>
                            <div class="example-container" fxLayout="column">
                              <div *ngFor="let item of element.items" fxLayout="row">
                                <span fxFlex>
                                  - {{item.file_id.name}} <br>
                                </span>
                                <span fxFlex="200px" class="text-blue">
                                  $ {{item.price}} <br>
                                </span>
                              </div>
                              <div *ngIf="element.shipping">
                                <span fxFlex>
                                  - Envío
                                </span>
                                <span fxFlex="200px" class="text-blue">
                                  $ {{ element.shipping_price }} <br>
                                </span>
                              </div>
                              <div>
                                <hr>
                                <div fxLayout="row">
                                  <div fxFlex fxLayout="column">
                                    <h5 class="m-b-5">
                                      Datos cliente:
                                      <!-- <a href="#" [routerLink]="['/user', element.client_id]">Editar</a> -->
                                    </h5>
                                    <span>
                                      <b class="bold">Nombre: </b>
                                      <a [routerLink]="['/profile', element.client_id._id ]" matTooltip="Ver perfil de usuario">
                                        {{ element.client_id.name + ' ' + element.client_id.surname }}
                                        <i class="mdi mdi-eye text-success"></i>
                                      </a>  
                                    </span>
                                    <span *ngFor="let phone of element.client_id.phone">
                                      <i class="mdi mdi-phone"></i> {{ ' ' + phone }} <br>
                                    </span>
                                    <span *ngIf="element.shipping" class="text-blue">
                                      <span class="m-r-5">
                                        <i class="mdi mdi-map-marker"></i> {{ ' ' + element.client_id.dir }}
                                      </span>
                                      <span>
                                        {{ ' ' + element.client_id.dir_num }} 
                                      </span>
                                      <span *ngIf="element.client_id.departament">
                                        <i class="mdi mdi-home-modern m-r-5"> - Dpto: {{ element.client_id.departament }}</i>
                                      </span>
                                    </span>
                                  </div>
                                  <div fxFlex="200px" fxLayout="column">
                                    <div class="f-16 bold">
                                      $ {{ element.price }}
                                      <span class="text-blue"> TOTAL </span>
                                    </div>
                                    <div>
                                      $ {{ element.partial_payment }}
                                      <span class="text-green"> Seña </span>
                                    </div>
                                    <div>
                                      $ {{ element.price - element.partial_payment }}
                                      <span class="text-red"> Restan </span>
                                    </div>
                                    <span class="example-element-description-attribution">
        
                                    </span>
                                  </div>
                                </div>
                                <br>
        
                              </div>
                              <!-- <hr> -->
                              <div fxLayout="row" class="order-detail-date">
                                <div fxFlex class="text-green">Pedido creado: <br>
                                  {{ element.created_at | amFromUnix | amDateFormat: "DD-MM-YYYY" }} </div>
                                <div fxFlex class="">
                                  <span class="text-info">Última modificación: <br>
                                    <span *ngIf="element.modified_at">
                                      {{ element.modified_at | amFromUnix | amDateFormat: "DD-MM-YYYY - HH:mm" }}hs
                                    </span>
                                  </span>
                                </div>
                                <div fxFlex class="">
                                  <span class="text-red"> <b class="bold">Entrega pactada:</b> 
                                    {{ element.end_at | amFromUnix | amDateFormat: "DD-MM-YYYY" }}
                                  </span>
                                  <div *ngIf="element.status === 'delivered'" class="bold text-blue">
                                    Retiró:
                                    <span class="normal">
                                      {{ element.delivered | amFromUnix | amDateFormat: "DD-MM-YYYY - HH:mm" }}hs
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div *ngIf="element.status === 'cancelled'" fxLayout="row" class="order-obs">
                                <span class="bold m-r-5">Observación:</span>
                                 {{ element.obs }}
                              </div>
                              <div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns" class="example-element-row"
                      [class.example-expanded-row]="expandedElement === element" 
                      (click)="expandedElement = expandedElement === element ? null : element"
                      [ngClass]="{'cancelled-row': element.status === 'cancelled'}">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                  </table>
        
                  <mat-paginator [pageSizeOptions]="pagination"></mat-paginator>
                </div>
      </div>
    </div>
    
  </div>
  <div class="col-lg-3 noDisplay">
    <app-task-menu></app-task-menu>
  </div>
</div>
<app-order-print class="printMe"></app-order-print>