@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* BACKGROUND */
.dark-gray {
    background-color: #2d3327;
}
.green {
    background-color: #57af04 !important;
}
/* TEXTOS */
.text-red {
    color: rgb(255, 0, 0);
}
.text-green {
    color: #5fb410;
}
.text-blue {
    color: #1e88e5 !important
}
.text-black {
    color: #000
}
.date {
    padding: 15px 10px;
}
/* FUENTES */
.normal {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.bolder {
    font-weight: 900;
}
.f-20 {
    font-size: 20px !important;
}
.f-18 {
    font-size: 18px !important;
}
.f-16 {
    font-size: 16px !important;
}
.f-14 {
    font-size: 14px !important;
}
.f-12 {
    font-size: 12px !important;
}
.f-10 {
    font-size: 10px !important;
}
.table-hover:hover {
    background-color: #f2f4f8;
}

.full-width {
    width: 100% !important;
}

.w-55 {
    width: 55px;
}
.w-250 {
    width: 250px;
}
.w-260 {
    width: 260px;
}
.w-270 {
    width: 270px;
}
.libros {
    color: #000;
}
.libros td {
    padding: 5px
}
.libros td:last-child {
    width: 40px
}

.mat-header-cell {
    color: #1e88e5;
    font-size: 1em;
    line-height: 0.9em;
}
.mat-cell-center {
    text-align: center;
}
th.mat-sort-header-sorted {
    color: black;
  }
tr.mat-row:not(.example-expanded-row):hover {
    background: rgb(199, 236, 253);
    cursor: pointer;
}

.example-element-diagram {
    max-width: 100px;
    text-align: center;
}

.btn-sm {
    padding: .25rem .25rem;
    font-size: 12px;
}