<div class="row">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="card-title">
              AGREGAR O QUITAR ARCHIVO 1
            </h4>
            <h6 class="card-subtitle">
              Editar archivos visibles en el sistema.
            </h6>
            <mat-tab-group>
              <mat-tab fxFlex="50">
                <ng-template mat-tab-label>
                  <i class="fas fa-chess-rook p-r-10"></i>
                  <span class="label-tab">AÑADIR</span>
                </ng-template>
                <form class="form-control-line">
                  <mat-form-field class="full-width m-t-20">
                    <input matInput placeholder="Nombre">
                    <!--<mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error> -->
                  </mat-form-field>
                  <div fxLayout="row" fxFill>
                    <div fxFlex>
                        <mat-form-field fxFlex>
                            <input matInput placeholder="Search" aria-label="State" [matAutocomplete]="auto" [formControl]="searchMoviesCtrl">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                              <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let movie of filteredMovies; let i = index" [value]="movie" [attr.data-index]="i">
                                  <span><b>{{movie + i}}</b></span>
                                </mat-option>
                              </ng-container>
                            </mat-autocomplete>
                            
                          </mat-form-field>
                        
                    </div>
                    <div class="p-10" fxFlex="60px">
                      <button mat-mini-fab aria-label="Add user" (click)="addUser()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                    <ng-container *ngIf="errorMsg; else elseTemplate">
                        {{errorMsg}}
                      </ng-container>
                      <ng-template #elseTemplate>
                        <h5>Selected Value: {{searchMoviesCtrl.value}}</h5>
                      </ng-template>
                      <br>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field>
                      <input type="number" matInput placeholder="Año">
                    </mat-form-field>
                    <mat-checkbox class="p-l-10 m-t-20" [(ngModel)]="persona" name="person">Persona</mat-checkbox>
                  </div>
                  <div fxLayout="row" fxFill>
                    <div fxFlex>
                      
                    </div>
                    <div class="p-10" fxFlex="80px">
                      <button type="button" class="btn waves-effect waves-light btn-success"
                        (click)="send()">
                        <!-- [swal]="['Oops!', 'This is not implemented yet :/', 'warning']" -->
                        Añadir
                      </button>
                    </div>
                  </div>
                  <mat-form-field class="p-r-10">

                    <input matInput [matDatepicker]="picker" placeholder="Elegir fecha">
                    <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
                    <mat-datepicker touchUi #picker></mat-datepicker>

                  </mat-form-field>
                  <button type="button" class="btn waves-effect waves-light btn-info"
                    (click)="picker.open()">Fecha</button>
                  <!-- <dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig" name="selectedDate" theme="dp-material"></dp-date-picker> -->


                </form>
              </mat-tab>
              <mat-tab fxFlex="50">
                <ng-template mat-tab-label>
                  <i class="fas fa-plus-square p-r-10"></i>
                  <span class="text-danger label-tab">QUITAR</span>
                </ng-template>
                <form class="form-control-line">
                  <mat-form-field class="full-width m-t-20">
                    <span matPrefix class="p-r-10"><i class="fas fas fa-search"></i></span>
                    <input type="text" matInput placeholder="Buscar">
                  </mat-form-field>
                  <div fxLayout="row">
                    <mat-form-field class="full-width">
                      <textarea matInput placeholder="Motivos"></textarea>
                    </mat-form-field>
                  </div>

                  <button type="button" class="btn waves-effect waves-light btn-danger" [swal]="{ type: 'warning', title: 'Desea eliminar el archivo?', text: 'Algo esta mal que no anda bien', showCancelButton: true,
                                  confirmButtonColor: '#3085d6',
                                  cancelButtonColor: '#d33',
                                  confirmButtonText: 'Yes, delete it!' }" (confirm)="saveEmail($event)">
                    Eliminar
                  </button>
                  <!-- <dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig" name="selectedDate" theme="dp-material"></dp-date-picker> -->


                </form>
              </mat-tab>
            </mat-tab-group>

          </div>
          <div class="col-lg-6">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Deshmukh</td>
                  <td>Prohaska</td>
                  <td>@Genelia</td>
                  <td><span class="label label-danger">admin</span> </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Deshmukh</td>
                  <td>Gaylord</td>
                  <td>@Ritesh</td>
                  <td><span class="label label-info">member</span> </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Sanghani</td>
                  <td>Gusikowski</td>
                  <td>@Govinda</td>
                  <td><span class="label label-warning">developer</span> </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Roshan</td>
                  <td>Rogahn</td>
                  <td>@Hritik</td>
                  <td><span class="label label-success">supporter</span> </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Joshi</td>
                  <td>Hickle</td>
                  <td>@Maruti</td>
                  <td><span class="label label-info">member</span> </td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Nigam</td>
                  <td>Eichmann</td>
                  <td>@Sonu</td>
                  <td><span class="label label-success">supporter</span> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <span *ngFor="let user of _user.users | async">
        <pre>
          {{ user.name }}
        </pre>
      </span>
  </div>
  <div class="col-lg-3">
    <app-task-menu></app-task-menu>
  </div>
</div>
